.schedule-container {
  width: 85%;
  margin: 30px auto;
  text-align: center;
  border: black;
  color: black;
  
}

.schedule-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.schedule-form input {
  padding: 8px;
  width: 180px;
}

.schedule-form button {
  padding: 8px 15px;
  background-color: #1031b9;
  border: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.schedule-table th {
  background-color: #f4f4f4;
}

.edit-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
