/* General Page Styling */
.home-container {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #eef2f3, #e0eafc);
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  color: #150a0a;
  overflow-x: hidden; /* extra scroll bar avoid */
}

/* Navbar */
.navbar {
 
  display: flex;
  justify-content: space-between;
  align-items: center;   /* ✅ added to center vertically */
  padding: 12px 40px;    /* thoda kam padding taki cut na ho */
  background: white;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  /* position: sticky;      /* navbar always top pe rahe */
  /* top: 0;
  z-index: 100; */ 
}

.logo {
  font-size: 22px;
  color: #6a11cb;
  font-weight: bold;
  margin: 0;  /* extra spacing hataya */
    padding-top: 10px;               /* niche shift */
  padding-bottom: 5px;
    line-height: 1;   
}

.nav-links {
  display: flex;
  align-items: center;  /* ✅ center links properly */
  gap: 20px;
}

.nav-btn, .login-btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 5px;
}

.nav-btn {
  background: transparent;
  color: #333;
}

.login-btn {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  transition: 0.3s ease-in-out;
}

.login-btn:hover {
  transform: scale(1.05);
}

/* Hero Section */
.hero {
  text-align: center;
  margin: 60px 20px;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero p {
  color: #555;
  margin-bottom: 20px;
}

.get-started {
  background: linear-gradient(to right, #471690, #814fb0);
  color: rgb(245, 240, 244);
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.get-started:hover {
  transform: scale(1.05);
}

/* Cards Section */
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap;  /* ✅ responsive ho jaye mobile pe */
}

.card {
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  color: white;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s ease-in-out;
  text-align: left;
}
.card ul {
  margin-top: 10px;
  padding-left: 20px; /* bullet ke liye space */
 list-style-type: disc !important; /* force bullets */
 
}
.card ul li::marker {
  color: rgb(20, 20, 8);  /* apna pasand ka color daalo */
  font-size: 18px; /* bullet size bhi bada kar sakte ho */
}

 

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  margin-bottom: 10px;
}

.admin {
  background: linear-gradient(to right, #b03f9b, #3e0634);
}

.teacher {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.student {
  background: linear-gradient(to right, #11998e, #38ef7d);
}
