/* Reset */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* Login page background */
.login-container {
  min-height: calc(100vh - 70px); /* 70px = navbar height */
  width: 100vw;
  background-color: rgb(194, 91, 91); /* apka maroon shade */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px; /* taaki navbar overlap na kare */
}

 
/* Navbar */
/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;   /* vertical center */
  padding: 12px 40px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Logo text */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: #6a11cb;   /* purple shade */
  margin: 0;
  line-height: 1;
}

/* Nav links */
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 25px;
}

/* Normal links */
.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #6a11cb;
}

/* Login button */
.login-btn {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white !important;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
}



/* Login card */
.login-card {
  background: #faf7f7;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.login-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #050404;
}

/* Input fields */
.login-input {
  width: 100%;
  padding: 10px 14px;
  margin-bottom: 15px;
  border: 1px solid #aea5a5;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
  color: #020202;
}

.login-input:focus {
  border-color: #2f3235;
}

/* Login button inside card */
.login-button {
  width: 100%;
  background-color: #143a8b;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background-color: #0f766e;
}

/* Forgot password */
.forgot-password {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #555;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}
