 
/* Wrapper */
.page-wrapper {
  height: 500vh;
  width: 1000vw;
  background: #0ec1ce;
  padding: 40px;
  box-sizing: border-box;
}

/* Container */
.student-list-container {
  max-width: 1000px;
  margin: auto;
  background: rgb(217, 77, 133);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Heading */
h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #55d327;
}

thead {
  background-color: #7454d3;
  color: rgb(53, 188, 206);
}

th, td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #e7e3e3;
}

tbody tr:hover {
  background-color: #69a0d6;
} */



.student-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.student-form input,
.student-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.student-form button {
  padding: 10px;
  background-color: #36b3af;
  color: rgb(223, 34, 34);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.student-form button:hover {
  background-color: #ca356e;
}
